<footer style="margin-top: 5rem;">
    <div class="container">
        <div class="row">

            <div class="col-lg-4 footer-grid-agileits-w3ls text-left">

                <h3>Hakkımızda</h3>

                <p>Başta İstanbul olmak üzere Türkiye'nin çeşitli yerlerinden gelen taksilerle alakalı olayların, olumlu veya olumsuz görüşlerin paylaşılması amacıyla kurulmuş bir platform.</p>

            </div>


            <!-- subscribe -->
            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">

                <h2>Bizden haberdar olmak için abone olun</h2>

                <div class="subscribe-main text-left">

                    <div class="subscribe-form">

                        <form action="#" method="post" class="subscribe_form">

                            <input class="form-control" type="email" placeholder="E-Posta ..." required="">

                            <button type="submit" class="btn btn-primary submit">ABONE OL</button>

                        </form>

                        <div class="clearfix"> </div>

                    </div>

                </div>

            </div>

            <div class="col-lg-4 subscribe-main footer-grid-agileits-w3ls text-left">

                <div class="footer-cpy text-center">
                    <div class="footer-social">
                        <div class="copyrighttop">
                            <ul>
                                <li class="mx-3">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-facebook-f"></i>
                                        <span>Facebook</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-twitter"></i>
                                        <span>Twitter</span>
                                    </a>
                                </li>
                                <li class="mx-3">
                                    <a class="facebook" href="#">
                                        <i class="fab fa-google-plus-g"></i>
                                        <span>Google+</span>
                                    </a>
                                </li>
                                <li>
                                    <a class="facebook" href="#">
                                        <i class="fab fa-pinterest-p"></i>
                                        <span>Pinterest</span>
                                    </a>
                                </li>
                            </ul>

                        </div>
                    </div>

                </div>

            </div>

        </div>

        <div class="w3layouts-agile-copyrightbottom footer-cpy text-center">
            <p>
                @DateTime.Now.Year Taksi Puanla | Tüm hakkı saklıdır.
            </p>

        </div>

        <!-- //footer -->


    </div>
</footer>