
<link href="https://fonts.googleapis.com/css?family=Quicksand:400,600,700&display=swap" rel="stylesheet">

<link rel="stylesheet" href="~/css/HeaderStyle/fonts/icomoon/style.css">

<link rel="stylesheet" href="~/css/HeaderStyle/css/owl.carousel.min.css">

<!-- Bootstrap CSS -->
<link rel="stylesheet" href="~/css/HeaderStyle/css/bootstrap.min.css">

<!-- Style -->
<link rel="stylesheet" href="~/css/HeaderStyle/css/style.css">

<link rel="stylesheet" href="~/css/HeaderStyle/css/buttonstyle.css">

<div class="site-mobile-menu site-navbar-target">

    <div class="site-mobile-menu-header">

        <div class="site-mobile-menu-close mt-3">

            <span class="icon-close2 js-menu-toggle"></span>

        </div>

    </div>

    <div class="site-mobile-menu-body"></div>

</div>

<div class="site-navbar-wrap">

    <div class="site-navbar site-navbar-target js-sticky-header">

        <div class="container" style="max-width:100% !important">

            <div class="row align-items-center">

                <div class="col-2">

                    <h1 class="my-0 site-logo"><a href="/Posts/Index/">Taksi Puanla</a></h1>

                </div>

                <div class="col-4 text-right">

                    <span class="mx-lg-4 mx-md-2  mx-1">

                        <a href="\Login\Index\">
                            <i class="fas fa-lock"></i> Giriş Yap
                        </a>
                    </span>

                    <span>

                        <a href="/Register/Index/">
                            <i class="far fa-user"></i> Kayıt Ol
                        </a>

                    </span>

                </div>

                <div class="col-6">

                    <nav class="site-navigation text-right" role="navigation">

                        <div class="container" style="max-width: 100% !important;">

                            <div class="d-inline-block d-lg-none ml-md-0 mr-auto py-3"><a href="#" class="site-menu-toggle js-menu-toggle text-white"><span class="icon-menu h3"></span></a></div>

                            <ul class="site-menu main-menu js-clone-nav d-none d-lg-block">

                                <li class="active"><a href="/Posts/Index/" class="nav-link">Ana Sayfa</a></li>

                                <li><a href="#classes-section" class="nav-link">Classes</a></li>

                                <li><a href="#about-section" class="nav-link">About</a></li>

                                <li><a href="#events-section" class="nav-link">Events</a></li>

                                <li><a href="#gallery-section" class="nav-link">Gallery</a></li>

                                <li><button class="button button--mimas"><span>Gönderi Paylaş</span></button></li>

                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="js/jquery-3.3.1.min.js"></script>
<script src="~/css/HeaderStyle/js/jquery-3.3.1.min.js"></script>
<script src="~/css/HeaderStyle/js/popper.min.js"></script>
<script src="~/css/HeaderStyle/js/bootstrap.min.js"></script>
<script src="~/css/HeaderStyle/js/jquery.sticky.js"></script>
<script src="~/css/HeaderStyle/js/main.js"></script>