
<link rel="stylesheet" href="~/css/SearchAreaStyle/style.css">
<link href="~/css/site.css" rel="stylesheet">

<div class="container">

  <div class="cover">

    <h1>Sizde istediğiniz taksi plakasını arayın</h1>

    <form class="flex-form">

      <input class="plate" maxlength='7' value='' placeholder="34XXX12" pattern="/^(0[1-9]|[1-7][0-9]|8[01])(([A-PR-VYZ])(\d{4,5})|([A-PR-VYZ]{2})(\d{3,4})|([A-PR-VYZ]{3})(\d{2,3}))$/" />

      <input type="submit" value="Arama Yap">

    </form>

  </div>

</div>
