header.masthead {
    position: relative;
    background-size: cover;
    padding-top: 1rem;
    margin-top: 3.2rem;
    border-radius: 10px;
}

.plate {
    display: block;
    margin: .5em auto;
    border: none;
    padding: 0;
    width: 10.5ch;
    background: white;
    font: 3ch droid sans mono, consolas, monospace;
    letter-spacing: 0.5ch;
    background: repeating-linear-gradient(90deg, dimgrey 0, dimgrey 1ch, transparent 0, transparent 1.5ch) 0 100%/10ch 2px no-repeat;
}

    .plate:focus {
        outline: none;
        color: dodgerblue;
    }


body {
    height: 2000px
}

.background-image {
    z-index: 1;
    background-image: url("../img/HomeBanner.png");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 1rem !important
}

.centered {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: nowrap;
    overflow: hidden;
}