@using TaxiRateApp.Entities.Concrete
@model HashSet<Comments>

<div class="comment-top">
    <h4>Yorumlar</h4>

    @foreach (var item in Model)
    {
        <div class="media">

            <div class="media-body">

                <h5 class="mt-0">@item.User.User_Name</h5>
                <p>
                    @item.Comment_Description
                </p>

            </div>

        </div>

    }

</div>