<div class="comment-top">

    <h4>Yorum Yap</h4>

    <div class="comment-bottom">

        <form action="/Comment/CommentAddPartial/" method="post">

            <input class="form-control" type="text" name="User_Id" placeholder="Adınız" required="">

            <textarea class="form-control" name="Comment_Description" placeholder="Yorumunuz..." required=""></textarea>

            <button type="submit" class="btn btn-primary submit">Yorum Yap</button>

        </form>

    </div>

</div>