<link rel="stylesheet" href="~/Views/Home/css/home.css" />

@model IDataResult<List<Posts>>

<header class="masthead">

    <div class="jumbotron background-image">

        <h1 class="display-5 text-white ubuntu-font">TaksiPaunla.com'a hoşgeldiniz!</h1>

        <p class="lead text-white ubuntu-font">Sizde yaşadığınız taksi tecrübelerini herkesle paylaşabilir veya alt kısımdan mevcut görüşleri arayabilirsiniz!</p>

        <hr class="my-4">

        <p class="lead text-white ubuntu-font">

            @await Html.PartialAsync("_SearchArea")

        </p>

    </div>

</header>

<section>

    @await Html.PartialAsync("_LastPostsTable")

</section>